@import "../pages/style";

h1 {
  /* Remove space between <h1> and <span id="date"> immediately below */
  display: inline;
}

span#publication-date {
  float: right;
  font-weight: bold;
  font-style: italic;
}
