/* https://www.swyx.io/css-100-bytes */
html {
  background-color: lightblue;
  font-size: large;
}

main {
  max-width: 70ch;
  padding: 3em 1em;
  padding-bottom: 0; /* Reduce space between <main> and <footer> */
  margin: auto;
  line-height: 1.5;
}

p#blurb {
  text-align: center;
}

section#blog-posts {
  background-color: skyblue;
  padding: 0 1em;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}

section#blog-posts > h2 {
}

section#blog-posts > ul > li > span.date {
  float: right;
}

ul.links {
  display: inline-block;
}

img {
  max-width: 480px;
  max-height: 360px;
  width: auto;
  height: auto;

  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid grey;
  border-radius: 5px;
}

img.unbordered {
  border: none;
}

hr {
  /* Different browsers respond to different attributes for this element.
   * As per this StackOverflow answer:
   * https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element/12399447#12399447
   */
  background-color: black;
  border-color: black;
  color: black;
}

footer {
  font-weight: bold;
  margin: auto;
  max-width: 70ch;
}
