/* https://www.swyx.io/css-100-bytes */
html {
  background-color: lightblue;
}

main {
  max-width: 70ch;
  padding: 3em 1em;
  padding-bottom: 0; /* Reduce space between <main> and <footer> */
  margin: auto;
  line-height: 1.5;
}

p#blurb {
  text-align: center;
}

ul.links {
  display: inline-block;
}

img {
  max-width: 480px;
  max-height: 360px;
  width: auto;
  height: auto;

  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.album > img {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  /* Different browsers respond to different attributes for this element.
   * As per this StackOverflow answer:
   * https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element/12399447#12399447
   */
  background-color: black;
  border-color: black;
  color: black;
}

footer {
  font-weight: bold;
  margin: auto;
  max-width: 70ch;
}
