body {
  margin: auto;
  margin-top: 4%;
  align: center;
  width: 50%;
  text-align: center;
}

html {
  background-color: skyblue;
}

img {
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  max-height: 360px;
  width: auto;
  height: auto;
}

pre {
  display: inline-block;
  text-align: left;
}

ul {
  text-align: left;
}

hr {
  /* Different browsers respond to different attributes for this element.
   * As per this StackOverflow answer:
   * https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element/12399447#12399447
   */
  background-color: black;
  border-color: black;
  color: black;
}

.main-paragraph {
  text-align: center;
  align: center;
  margin: auto;
  width: 50%;
}

.main-image {
  margin: 20px;
  float: left;
}

.last-updated {
  margin: 1%;
}

.link-list {
  display: inline-block;
}
